


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}



* {
	max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-header: #0050FF;
	--color-text: #3d535f;
}

body::-webkit-scrollbar {
	display: none;
}



@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: Montserrat-Bold;
	src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat-ExtraBold;
	src: url(fonts/Montserrat-ExtraBold.ttf);
}
html {
  box-sizing: inherit;
  font-size: calc(100vw / 1920 * 10); }
  @media (max-width: 1024px) {
    html {
      font-size: calc(100vw / 1920 * 10); } }
	@media (max-width: 600px) {
		html {
		  font-size: calc(100vw / 600 * 10); } }


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	overflow-y: auto;
	scroll-snap-type: y mandatory;
  	min-height: 100vh;
  	scroll-behavior: smooth;
  	text-rendering: optimizeSpeed;
  	line-height: 1.5;
	font-family: Montserrat-Regular;
	background-image: url("images/bg.jpg");
	overflow-x: hidden;
}
body > *{
	scroll-snap-align: start;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем нижнее подчеркивание у ссылок */

a {
	text-decoration: none;
}

 Удаляем все анимации и переходы для людей, которые предпочитай их не использовать
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*.mn{*/
/*	padding: 0;*/
/*	!*overflow-y: scroll;*!*/
/*	scroll-snap-type: y mandatory;*/
/*}*/
/*.header-preview-wrapper,*/
/*about-us{*/
/*	scroll-snap-align: start;*/
/*	scroll-snap-stop: always;*/
/*}*/


/* HEADER */


.header-preview-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height:100vh;
	background-image: url("images/top-bg.png");
	background-size: 110%;
	background-repeat: no-repeat;
	color: #FFFFFF;
}

/*.header {*/
/*	height: 10rem;*/
/*	display: flex;*/
/*	width: 100%;*/
/*	justify-content: space-around;*/
/*	align-items:center;*/
/*}*/

.logo {
	display: flex;
	align-items: center;
	width: 40rem;
	height: 5rem;
}

.header__nav-profile-wrapper {
	width: 50%;
	display: flex;
	justify-content: space-between;

}

.header__nav {
	width: 70%;
	display: flex;
	justify-content: space-around;
	height: 4.3rem;
    align-items: end;
}

.nav__section{
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 2rem;
	color: #FFFFFF;
}

.profile_icon {
	display: flex;
	align-items: center;
	width: 5rem;
	height: 5rem;
}

/* PREVIEW */

.preview {
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: red;*/
}

.preview-wrapper {
	width: 40vw;
	height: 15vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*background-color: red;*/
}

.preview-wrapper__school-title {
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 1.7rem;
	line-height: 1.7rem;
}

.preview-wrapper__h3 {
	font-family: Montserrat-Bold;
	font-style: normal;
	font-weight: 800;
	font-size: 4.8rem;
	line-height: 6.4rem;
	text-align: center;
}

.preview-wrapper__button {
	list-style: none;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;

	width: 20vw;
	height: 3vw;
	background: #0050FF;
	border-radius: 2vw;
	border-color: #0050FF;
	font-family: Montserrat-Bold;
	font-style: normal;
	font-weight: 500;
	font-size: 2vw;
	line-height: 2vw;
	color: #FFFFFF;
	transition: 0.3s;
}
.preview-wrapper__button:hover {
	color: #0050FF;
	background-color: white;
	transition: 0.3s;
}

/* ABOUT US */



.about-us {
	font-family: Montserrat-Bold;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 999;
	background-color: white;
	/*background-color: red;*/
}

.wp{
	/*background-color: #36D7D4;*/
	/*padding: 5vw;*/
	display: flex;
	flex-direction: column;
}

.about-us__title {
	opacity: 0;
	font-family: Montserrat-ExtraBold;
	margin: auto;
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.multiText{
	color: var(--color-header);
	/*text-transform: capitalize;*/
}

.about-as__description {
	margin: auto;
	margin-top: 4vw;
	margin-bottom: 4vw;
	width: 45%;
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

.about-as__scores {
	font-family: Montserrat-ExtraBold;
	margin: auto;
	display: flex;
	gap: 7vw;
}

.score__indicator {
	display: flex;
	align-items: center;
	gap: 2%;
}

.score__indicator {
	display: flex;
	justify-content: space-around;
	font-style: normal;
	font-weight: 800;
	font-size: 9.7rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.indicatior__text {
	font-family: Montserrat-Regular;
	font-style: normal;
	font-weight: 500;
	font-size: 3rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

/* PREPARE LEVELS */

.prepare-levels {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
	background: #F8F8F8;
}

.prepare-levels__title {
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	text-align: center;
	color: #162831;
}

.prepare-levels__levels {
	display: flex;
	justify-content: space-around;
	gap: 15%;
}


.level_icon {
	position: absolute;
	bottom: 29.3rem;
	display: flex;
	width: 16rem;
	height: 16rem;
	background-color: #ECECEC;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	z-index: 999;
}


.level_body {
	width: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.level__title {
	font-style: normal;
	font-weight: 800;
	font-size: 3.5rem;
	line-height: 134.09%;
}

.level_description
{
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: center;
	color: rgba(22, 40, 49, 0.8);
}

.icon__image{
	width: 8.5rem;
	height: 7.4rem;
	fill: #162831;
}

.level {
	position: relative;
	width: 20vw;
	height: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 0.15vw solid #162831;
	border-radius: 2rem;
	cursor: pointer;
	transition: 0.25s;
}
.level.active {
	border: 0.25vw solid #162831;
}
.level.active > .level_icon{
	background-color: #162831;
}
.level.active > .level_icon > .icon__image{
	fill: white;
}








/* ABOUT BASIC LEVEL */

.about-basic-level {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/*background: #162831;*/
}

.about-basic-level__basic-diogram {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35vw;
    height: 35vw;
	border-radius: 50%;
	background: #FFFFFF;
	padding: 10rem;
}

.wrapper-diogram > svg{
	margin-left:1rem;
	margin-right: 1rem;
}
/*.left_b{*/
/*	width:8vw;*/
/*	height:10vw;*/
/*}*/

.basic-diagram-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 12%;
}

.about-basic-level__basic-description {
	height: 70vh;
	width: 45vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: red;
}

.basic-description__title {
	font-style: normal;
	font-weight: 800;
	font-size: 14.5rem;
	line-height: 134.09%;
	color: #FFFFFF;
}

.basic-description__upper-text,
.basic-description__lower-text
{
	font-style: normal;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 134.09%;
	text-align: justify;
	color: #FFFFFF;
}

.upper-text__blue-text {
	color: #36D7D4;
}

.basic-description__lower-part-wrapper {
	display: flex;
	gap: 2rem;
}

.lower-part-wrapper__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13rem;
	height: 13rem;
	background: #2167FF;
	border-radius: 50%;
}

.inside-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	background: #0050FF;
	border-radius: 50%;
}

.lower-part-wrapper__text {
	font-style: normal;
	font-weight: 800;
	font-size: 10rem;
	line-height: 134.09%;
	color: #FFFFFF;
}


.basic-diogram__part1{
	width: 8.8rem;
	height: 10rem;
}
.basic-diogram__part2{
	width: 8.8rem;
	height: 20.7rem;
}
.basic-diogram__part3{
	width: 8.8rem;
	height: 31.3rem;
}


.links li{
	height: 100%;
	padding: 1.4vw 0.5vw;
	margin-top: 3vw;
	list-style: none;
	/*background-color: red;*/

}

#hub{
	border-bottom: 0.15vw solid white;
}
.dropdown_menu li{
	margin-top: 2rem;
	list-style: none;
}
.dropdown_menu li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.6rem;
}
.links li a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.6rem;
	transition: 0.3s;
}
/*.links li a:hover{*/
/*	color: #3a7aff;*/
/*	transition: 0.3s;*/
/*}*/

header{
	width: 100vw;
	padding-bottom: 2vw;
	position: relative;
	/*padding: 0 2rem;*/
	/*background-color: #0050FF;*/
	border-bottom: 0.02vw solid #A1A1A1;
}

.navbar{
	width: 100vw;
	height: 6rem;
	max-width: 120rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.mainlogo{
	margin-top: 4rem;
	height: 5rem;
}
.links a{
	padding-top: 5rem;
	font-size: 1.6rem;
	font-weight: 500;
	font-family: Montserrat-Regular;
}
.navbar .links{
	display: flex;
	gap: 5rem;
}

.navbar .toggle_btn{
	margin-top: 2rem;
	color: #FFFFFF;
	font-size: 3rem;
	cursor: pointer;
	display: none;
}

.profile{
	cursor: pointer;
	margin-top: 4rem;
	width: 5.6rem;
}
.profile1{
	margin-top: 2rem;
	width: 5.6rem;
}







.action_btn{
	background-color: #0050FF;
	color: #FFFFFF;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 2rem;
	font-size: 2rem;
	cursor: pointer;
	justify-content: center;
	text-align: center;
}

.dropdown_menu.open{
	height: 24rem;
}

.dropdown_menu{
	display: none;

	height: 0;
	position: absolute;
	right: 5rem;
	top: 6rem;
	width: 30rem;
	background:rgba(255,255,255,0.1);
	backdrop-filter: blur(15px);
	border-radius: 1rem;
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
}

.dropdown_menu .action_btn{
	width: 100%;
	display: flex;
	justify-content: center;
}

.dropdown_menu li{
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 992px) {
	.navbar .links,
	.navbar .action_btn,
	.profile{
		display: none;
	}

	.navbar .toggle_btn{
		display:block;
	}

	.dropdown_menu{
		display: block;
	}

}

@media (max-width: 576px) {
	.dropdown_menu{
		left: 2rem;
		width: unset;
	}
}


.prepare-levels__levels > .level:hover{
	/*scale: 1.1;*/
	transition: 0.25s;
}